.team-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 150px);

  gap: 50px;
  justify-content: center;
  padding: 20px;

  width:auto;
  height:auto;
  border-radius: 30px;
  background-color: rgba(255, 248, 239, 0.774);
}